
.title{
    font-weight: 700;
}

.title.one{
    font-size: 40px;
}

.title.two{
    font-size: 34px;
}

.title.three{
    font-size: 28px;
}

@media (max-width: 800px){
    .title.one{
        font-size: 30px;
    }
    .title.two{
        font-size: 26px;
    }
    .title.three{
        font-size: 22px;
    }
}

.paragraph{
    font-weight: 400;
    font-size: 16px;
}