.gameCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 16px;
    border: 1px solid var(--color-lightblue);
    border-radius: 4px;
}

@media (max-width: 450px){
    .gameCard{
        align-items: flex-start;
        flex-direction: column;
    }   
    .gameCard button{
        width: 100%;   
    }    
}
